<div [ngSwitch]="done">
  <div *ngSwitchCase="true">Matched True and YES</div>
  <div *ngSwitchDefault>Default if done is FALSE</div>
</div>

<select name='as1' (click)="as1=$event.target.value; ">
  <option value="green">Green</option>
  <option value="blue">Blue</option>
</select>

<h1 [ngClass]="{'is-greenBold':true, 'is-blueBold':false}" [innerText]="text"></h1>
<div id="error" *ngFor="let e of error_messages">
 Error: {{e}}
</div>
{{error_message[0]}}

<ul>
  <li *ngFor="let pitem of _productList">
    Name = {{pitem.name}},
    Id = {{pitem.id}}
  </li>
</ul>