
<form [formGroup]="prdForm" action="javascript:void">
  <div class="panel panel-primary">
    <div class="panel-heading"> Product Info:</div>
  <div class="form-group row">
    <label class="col-sm-3" for="prodId">ProductID:</label>
    <input class="form-control col-sm-6" type="text" name="ProdId" formControlName="prdId" id="prodId">
    <div *ngIf="prdForm.controls.prdId.invalid">
    <div *ngIf="prdForm.controls.prdId.errors.required" class="alert alert-danger" >
      Product Id required
    </div>
    <div *ngIf="prdForm.controls.prdId.errors.minlength" class="alert alert-danger" >
      Product Id min value 5 digits
    </div>
  </div>
  </div>
  <div class="form-group row">
      <label class="col-sm-3" for="prodName">Product Name:</label>
      <input class="form-control col-sm-6" [class]="{'hass-error': true}" 
      type="text" name="prodName" formControlName="prdName" id="prodName">
    </div>
    <header>Add Sku</header>
    <div formGroupName="skills">
        <div class="form-group row">
        <label class="col-sm-3" for="skuId">SKu Id:</label>
        <input class="form-control col-sm-6" type="text" name="skuid" 
         formControlName="skuId" id="skuId" >
         <div *ngIf="prdForm.controls.skills.controls.skuId.invalid" class="alert alert-danger">
            Invalid entry allow only a,b and c
         </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3" for="skuName">Sku Name:</label>
          <input class="form-control col-sm-6" type="text" name="skuName" 
           formControlName="skuName" id="skuName">
        </div>
    </div>

      <button (click)="saveProduct()"> submit:</button>  
      <button (click)="logKeyValues()"> Log Key Values:</button>  
    </div>
</form>

<table border="1">
  <tr>
    <td>
      Product id
    </td>
    <td>
      Productid dirty
    </td>
    <td>
        Productid Valid
      </td>
    <td>
      Product Name
    </td>
  </tr>
  <tr>
    <td>
        {{prdForm.get('prdId').value}}
    </td>
    <td>
        {{prdForm.dirty}}
    </td>
    <td>
        {{prdForm.valid}}
    </td>
    <td>
        {{prdForm.get('prdName').value}}
    </td>
  </tr>
</table>

<ul>
  <li *ngFor="let pitem of _productList">
    Name = {{pitem.name}},
    Id = {{pitem.id}}
  </li>
</ul>