div {
    padding-top: 5px;
}

.blueBold {
    color: blue;
    font-weight: bold;
}

.greenBold{
    color: green;
    font-weight:bold;
}

.blueBoldDisabled {
    color : #A9A9A9;
    font-weight: bold;
}