<div>
  <form action="javascript:void" (ngSubmit)="onClickSubmit(lName,passwd)">
    <div class="form-group">
      <label for="login">Login:</label>
      <input class="form-control" required minlength="6" type="text" name="login" 
       (blur)="onClickSubmit(lName,passwd)">
      <div *ngIf="formErrors.login.required" class="alert alert-danger">
        {{formErrors.login.required}}
      </div>
      <div *ngIf="formErrors.login.minlength" class="alert alert-danger">
          {{formErrors.login.minlength}}
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" required minlength="6" type="text" name="password" 
       (blur)="onClickSubmit(lName,passwd)">
        <div *ngIf="formErrors.password.required" class="alert alert-danger">
            {{formErrors.password.required}}
          </div>
          <div *ngIf="formErrors.password.minlength" class="alert alert-danger">
              {{formErrors.password.minlength}}
            </div>
      </div>
      <input type="submit" value="submit">
  </form>
</div>
