<div class="">
  <form [formGroup]="login" action="javascript:void;">
    <div class="container-fluid">
        <div class="row form-group">
           <div class="col-md-12" style="text-align: left;"> Select Login Method: </div>
          <label class="col-md-2" style="text-align: right;" for="loginOptun">User name:</label>
          <input formControlName="lmethod" class="col-md-1" id="loginOptun" type="radio" name="lmethod" value="login">
          <label class="col-md-2" style="text-align: right;" for="loginOptemail">Email:</label>
          <input (change)="setLgnMethodCtrl()" formControlName="lmethod" class="col-md-1" id="loginOptemail" type="radio" name="lmethod" value="email">
          </div>
    <div class="row form-group">
      <label class="col-md-6" for="logiName">Login Name:</label>
      <input class="form-control col-md-6" formControlName="login" type="text" name='loginName'>
      <div class="col-md-6"></div>
      <div class="col-md-6" *ngIf="login.controls.login.invalid">
        <div class="alert alert-danger" *ngIf="login.controls.login.errors.required && (login.controls.login.dirty || login.controls.login.touched)">
          Login is required
        </div>
      </div>
    </div>
    <div class="row form-group">
        <label class="col-md-6" for="logiName">Email:</label>
        <input (change)="setLgnMethodCtrl()" class="form-control col-md-6" formControlName="email" type="email" name='email'>
        <div class="col-md-6"></div>
        <div class="col-md-6" *ngIf="login.controls.email.invalid">
          <div class="alert alert-danger" *ngIf="login.controls.email.errors.required && (login.controls.email.dirty || login.controls.email.touched)">
            Email is required
          </div>
          <div class="alert alert-danger" *ngIf="login.controls.email.errors.email && (login.controls.email.dirty || login.controls.email.touched)">
              Email is Not valid
            </div>
        </div>
      </div>
    <div class="row form-group">
      <label class="col-md-6" for="password">Password:</label>
      <input class="form-control col-md-6" formControlName="password" type="password" name="password">
      <div class="col-md-6"></div>
      <div class="col-md-6" *ngIf="login.controls.password.invalid">
          <div class="alert alert-danger" *ngIf="login.controls.password.errors && (login.controls.password.dirty || login.controls.password.touched)">
              Password invalid {{login.controls.password.errors['passwd']}}
            </div>
      </div>
    </div>
    <div class="row form-group">
      <button>Submit</button>
    </div>
  </div>
  </form>
</div>
