<div class="">
  <form [formGroup]="login" action="javascript:void;">
   <div class="container-fluid">
    <div class="row form-group">
      <label class="col-md-6" for="logiName">Login Name:</label>
      <input class="form-control col-md-6" formControlName="login" type="text" name='loginName'>
      <div *ngIf="login.controls.login.invalid">
        <div class="alert alert-danger" *ngIf="login.controls.login.errors.required && (login.controls.login.dirty || login.controls.login.touched)">
          Login is required
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-md-6" for="password">Password:</label>
      <input class="form-control col-md-6" formControlName="password" type="password" name="password">
      <div *ngIf="login.controls.password.invalid">
          <div class="alert alert-danger" *ngIf="login.controls.password.errors && (login.controls.password.dirty || login.controls.password.touched)">
              Password invalid {{login.controls.password.errors['passwd']}}
            </div>
      </div>
    </div>
    <div class="row form-group">
      <button>Submit</button>
    </div>
  </div>
  </form>
</div>
