<!--
<mat-toolbar>Expertzlab</mat-toolbar>

<button mat-button [matMenuTriggerFor] = "menu">Menu</button>
<mat-menu #menu = "matMenu">
   <button mat-menu-item>
      File
   </button>
   <button mat-menu-item>
      Save As
   </button>
   <button mat-menu-item>
    Open
 </button>
</mat-menu>
<mat-sidenav-container class = "example-container">
   <mat-sidenav #sidenav class = "example-sidenav">
      Angular 6
   </mat-sidenav>
   <div class = "example-sidenav-content">
      <button type = "button" mat-button  (click) = "sidenav.open()">
         Open sidenav
      </button>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Favorite food" value="Sushi"> 
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
        <mat-checkbox>Check me!</mat-checkbox>
        <div>
            <button matButton >Click Me</button>
        </div>
        
       

        
      </form>
      

      
   </div>
</mat-sidenav-container>

<div>
    <button (click) = "animate()">Click Me</button>
    <div [@myanimation] = "state" class="happy">
       <img src = "assets/images/happy.png" width = "100" height = "100">
    </div>
 </div>
 -->

<button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Toggle collapse
</button>
<div>Today: {{nDate | date: "MMM dd yyyy HH:mm:ss"  }}</div>
<hr>
<div id="collapseBasic" [collapse]="isCollapsed" style="margin:0; text-align: left;">
<div class="well well-lg card card-block card-header">
    <ul class="nav navbar-nav">
        <li>
            <a [routerLink]="['/product-entry']">{{productentrymenu | slice:1:5 | uppercase}}</a>
          </li>  
      <li class="active">
          <a [routerLink]="['/product-display']">Prdouct Display</a>
        </li>
        <li>
          <a [routerLink]="['/inventory']">Inventory</a>
        </li>
        <li>
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li>
          <a [routerLink]="['/fileUpload']">File Upload</a>
      </li>
        <li>
            <a [routerLink]="['/changepass']">Change Password</a>
        </li>
      </ul>
</div>
</div>

<div class="container-fluid" style="width: 100%;">
<div class="row" style="width:100%;">
  <div class="col-sm-3" style="background-color: darkcyan">
    Side Bar
  </div>
  <div class="col-sm-9">
          <router-outlet>
              <img #spinnerElement *ngIf="loading" src="../assets/images/loader.gif" />
          </router-outlet>
          Current Price {{cPrice | percent:'3.2-3'}}
  </div>
</div>
</div>
