<p>
  <a class="button" (click)="goInventory()">Go Inventory</a>

  <button *appcounter="let page of pageCount()">
      {{page}}
  </button>
</p>

<div>
    <span appChangeText>Welcome to Expertzlab</span>
    To days rate = {{ 20 | multiplier: 2 }}
</div>

<app-child [pProductCount]="productCount" (produce)="onEvent()" ></app-child>

<!--
<ul>
  <li *ngFor="let product of productList | paginate:{ itemsPerPage:3, currentPage:p}">
    <div style="box-shadow: 0 5px 5px 0 gray; padding:5px;margin:5px;">
      id: {{product.id}} <br />
      name: {{product.name}}
    </div>
  </li>
</ul>

<pagination-controls (pageChange)="p=$event"></pagination-controls>
-->